/* .navbar-nav .nav-item .nav-link {
  font-weight: normal;
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--bs-primary);
  font-weight: bold;
} */

.nav-tabs .nav-link.active {
  font-weight: 700;
}